@charset "UTF-8";

@media (max-width: 600px) {
  header h1 {
    font-weight: 100;
    font-size: 1.6rem;
    text-shadow: 2px 2px 3px black;
  }

  header p {
    text-shadow: 2px 2px 3px black;
    font-size: .8rem;
  }
}