@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Grand Hotel', cursive;
    --fonte3: 'Kotta One', serif;
    --fonte4: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte3);
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.autor h1 {
    font-family: var(--fonte3);
    font-size: 6rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
    position: relative;
    color: rgba(0, 0, 0, 0.797);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.756);
    z-index: 1;
}

h1:hover {
    font-size: 6.5rem;
    transition: .5s;
    cursor: pointer;
}

.autor p, .autor a {
    color:rgb(0, 0, 0);
    font-family: var(--fonte2);
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
}

.autor a:hover, footer a:hover {
    text-decoration: underline;
    font-size: 1.6rem;
    transition: .5s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-size: 21.5px;
    color: rgb(0, 0, 0);
    
}

section p {
    text-align: center;
    /* font-family: var(--fonte4); */
    font-weight: 600;
    padding: 0.5em;
}

.primeiroP {
    margin-top: -50px;
}

.normal {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.normal:hover {
    transition: .5s;
    font-size: 25px;
}

.imagem {
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.397);
    background-size: cover;
    background-attachment: fixed;
}

.imagem:hover {
    transition: .5s;
    font-size: 25px;
}

.imagem p {
    display: inline-block;
    padding: 100px;
    background-color: rgba(46, 46, 46, 0.096);
    border-radius: 15px;
    text-shadow: 1px 1px 0px black;
}

.img01 {
    background-image: url('../imagens/opequenoprincipe4.jpg');
    background-position: center center;
}

.img02 {
    background-image: url('../imagens/opequenoprincipe.jpg');
    background-position: center center;
}

.img03 {
    background-image: url('../imagens/opequenoprincipe2.jpg');
    /* background-position: center center; */
}

footer, footer a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.718);
    border-radius: 0px 0px 0px 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
