@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Grand Hotel', cursive;
    --fonte3: 'Kotta One', serif;
    --fonte4: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
}

header {
    background-image: url('../imagens/opequenoprincipe2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    background-color: black;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

header h1 {
    padding-top: 50px;
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 6.5vw
}

header p {
    padding-bottom: 50px;
}

header a {
    color:rgb(255, 255, 255);
    text-decoration-line: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-size: 21.5px;
    color: rgb(0, 0, 0);
    
}

section p {
    font-family: var(--fonte4);
    font-weight: 600;
    padding: 0.5em;
}

.normal {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.imagem {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.397);
    background-size: cover;
    background-attachment: fixed;
}

.imagem p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(46, 46, 46, 0.096);
    border-radius: 15px;
    text-shadow: 1px 1px 0px black;
}

.img01 {
    background-image: url('../imagens/opequenoprincipe4.jpg');
    background-position: center center;
}

.img02 {
    background-image: url('../imagens/opequenoprincipe.jpg');
    background-position: center center;
}

.img03 {
    background-image: url('../imagens/opequenoprincipe3.jpg');
    background-position: center center;
}

footer, footer a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.718);
    border-radius: 0px 0px 0px 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.parallax::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(to top, #ffffff, transparent);
    z-index: 10000;
}

.parallax::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 10000;
    mix-blend-mode: color;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.text {
    margin-bottom: 205px;
    position: relative;
    word-spacing: 150px;
    color: white;
    font-size: 5em;
    z-index: 1;
}

.road {
    z-index: 2;
}